.venv-otns

pylibs/*/__pycache__

ot-rfsim/build
ot-rfsim/openthread-*/build
openthread/build
pylibs/build

ot-rfsim/cmake-build-debug
ot-rfsim/openthread-*/cmake-build-debug
openthread/cmake-build-debug

web/site/node_modules

current.pcap
otns_*.replay
tmp
